.content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: max-content;
    font-size: 22px;
    font-weight: 600;
}
.content-end{
    width: 100%;
    padding: 0 20px;
}

@media (min-width: 768px){
    .content{
        font-size: 40px;
    }
    
}

.content.active{
    animation-name: content;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.content-end.content.active{
    animation-name: content-end;
}

@keyframes content {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes content-end{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}