@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
body{
    font-family: ‘cwTeXYen’, sans-serif;
    background-color: #000000;
    transition-duration: 1000ms;
}
body.active{
    background-color: #ffd7d7;
}
.heart-base {
    width: 100%;
    max-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}
.heart-container {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

.heart-dot {
    width: 3%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #f06464;
    position: absolute;
    transform: translate(-50%, -50%);
    transition-duration: 400ms;
    opacity: 0;
}


.heart-dot.animation1{
    animation-name: heart-dot;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.heart-dot.animation2{
    animation-name: heart-dot-3;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 1;
}

.heart-dot-1 {
    left: 50%;
    top: 87%;
    animation-delay: 0;
}
.heart-dot-2 {
    left: 47.4%;
    top: 83%;
    animation-delay: 0.1s;
}
.heart-dot-3 {
    left: 43.9%;
    top: 79%;
    animation-delay: 0.2s;
}
.heart-dot-4 {
    left: 40.1%;
    top: 75%;
    animation-delay: 0.3s;
}
.heart-dot-5 {
    left: 35.9%;
    top: 71.5%;
    animation-delay: 0.4s;
}
.heart-dot-6 {
    left: 31.4%;
    top: 68.5%;
    animation-delay: 0.5s;
}
.heart-dot-7 {
    left: 26.9%;
    top: 65.6%;
    animation-delay: 0.6s;
}
.heart-dot-8 {
    left: 21.9%;
    top: 62.6%;
    animation-delay: 0.7s;
}
.heart-dot-9 {
    left: 17%;
    top: 59%;
    animation-delay: 0.8s;
}
.heart-dot-10 {
    left: 12.4%;
    top: 55%;
    animation-delay: 0.9s;
}
.heart-dot-11 {
    left: 8.9%;
    top: 50%;
    animation-delay: 1s;
}
.heart-dot-12 {
    left: 6.9%;
    top: 44%;
    animation-delay: 1.1s;
}
.heart-dot-13 {
    left: 6.4%;
    top: 37%;
    animation-delay: 1.2s;
}
.heart-dot-14 {
    left: 7.9%;
    top: 30%;
    animation-delay: 1.3s;
}
.heart-dot-15 {
    left: 10.9%;
    top: 23.5%;
    animation-delay: 1.4s;
}
.heart-dot-16 {
    left: 15.4%;
    top: 18%;
    animation-delay: 1.5s;
}
.heart-dot-17 {
    left: 20.9%;
    top: 14.5%;
    animation-delay: 1.6s;
}
.heart-dot-18 {
    left: 27.9%;
    top: 13%;
    animation-delay: 1.7s;
}
.heart-dot-19 {
    left: 35.9%;
    top: 14.5%;
    animation-delay: 1.8s;
}
.heart-dot-20 {
    left: 41.9%;
    top: 18.5%;
    animation-delay: 1.9s;
}
.heart-dot-21 {
    left: 46.4%;
    top: 23.5%;
    animation-delay: 2s;
}
.heart-dot-22 {
    left: 49.8%;
    top: 28.5%;
    animation-delay: 2.1s;
}
.heart-dot-23 {
    left: 52.9%;
    top: 24%;
    animation-delay: 2.2s;
}
.heart-dot-24 {
    left: 57.4%;
    top: 19%;
    animation-delay: 2.3s;
}
.heart-dot-25 {
    left: 63.4%;
    top: 15%;
    animation-delay: 2.4s;
}
.heart-dot-26 {
    left: 70.9%;
    top: 13.3%;
    animation-delay: 2.5s;
}
.heart-dot-27 {
    left: 79.4%;
    top: 15%;
    animation-delay: 2.6s;
}
.heart-dot-28 {
    left: 86.4%;
    top: 20%;
    animation-delay: 2.7s;
}
.heart-dot-29 {
    left: 90.4%;
    top: 27%;
    animation-delay: 2.8s;
}
.heart-dot-30 {
    left: 92.4%;
    top: 35%;
    animation-delay: 2.9s;
}
.heart-dot-31 {
    left: 92.4%;
    top: 43%;
    animation-delay: 3s;
}
.heart-dot-32 {
    left: 89.7%;
    top: 51%;
    animation-delay: 3.1s;
}
.heart-dot-33 {
    left: 84.9%;
    top: 56.5%;
    animation-delay: 3.2s;
}
.heart-dot-34 {
    left: 78.9%;
    top: 61%;
    animation-delay: 3.3s;
}
.heart-dot-35 {
    left: 73.4%;
    top: 64.5%;
    animation-delay: 3.4s;
}
.heart-dot-36 {
    left: 68.5%;
    top: 68%;
    animation-delay: 3.5s;
}
.heart-dot-37 {
    left: 63.9%;
    top: 71.5%;
    animation-delay: 3.6s;
}
.heart-dot-38 {
    left: 59.9%;
    top: 75%;
    animation-delay: 3.7s;
}
.heart-dot-39 {
    left: 55.9%;
    top: 78%;
    animation-delay: 3.8s;
}
.heart-dot-40 {
    left: 52.7%;
    top: 83.1%;
    animation-delay: 3.9s;
}

@keyframes heart-dot {
    0% {
        opacity: 0;
        transform: translate(-200%, -200%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes heart-dot-2 {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) rotateY(0deg);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotateY(360deg);
    }
}

@keyframes heart-dot-3{
    0% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}